<nav>
    <div class="flex">
    <ul>
        <li><a href="/" class="<%= currentpage && currentpage==='index' ? 'active' : '' %>">AirBnb</a></li>
        <% if (isLoggedIn) { %>
             <% if (user&&user.Usertype==='guest'||user&&user.Usertype==='host') { %>
                <li><a href="/favourite_list" class="<%= currentpage && currentpage==='Favourite List' ? 'active' : '' %>">Favourites</a></li>
                <li><a href="/bookings" class="<%= currentpage && currentpage==='Bookings' ? 'active' : '' %>">Bookings</a></li>
                <li><a href="/homes" class="<%= currentpage && currentpage==='Home' ? 'active' : '' %>">Home-list</a></li>
            <% } %>
            <% if (user&&user.Usertype==='host') { %>
                <li><a href="/host/host-home-list" class="<%= currentpage && currentpage==='Host Home' ? 'active' : '' %>">Host-home-list</a>
                <li><a href="/host/add-home" class="<%= currentpage && currentpage==='Add Home' ? 'active' : '' %>">Add-home</a>
                </li>
            <% } %>
        <% } %>
    </ul>
    <ul>
        <% if (!isLoggedIn) { %>

        <li>
            <a href="/login" class="login">Login
            </a>
        </li>
        <li>
            <a href="/signup" class="signup">SignUp</a>
        </li>
        <% }else { %>
        <li>
            <form action="/logout" method="POST">
            <button type="submit" class="logout">Logout</button>
            </form>
        </li>
        <% } %>
    </ul>
    </div>
</nav>